# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
.coverage
coverage.xml
schema.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
