<!DOCTYPE html>
<html>
<head>
    <title>Create Appointment</title>
</head>
<body>
    <h1>Create Appointment</h1>

    <form method="post">
        {% csrf_token %}

        <label>Doctor:</label>
        <select name="doctor" required>
            {% for doctor in doctors %}
                <option value="{{ doctor.id }}">
                    {{ doctor.username }}
                </option>
            {% endfor %}
        </select>
        <br><br>

        <label>Date:</label>
        <input type="date" name="date" required>
        <br><br>

        <label>Time:</label>
        <input type="time" name="time" required>
        <br><br>

        <button type="submit">Submit</button>
    </form>

    <br>
    <a href="{% url 'patient_dashboard' %}">Back</a>
</body>
</html>
